
/*----------------------------------------------------------------------------------------------------------------------
        Header
/*----------------------------------------------------------------------------------------------------------------------*/
header {
    
    padding: 20px; /* Espacement intérieur */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Ombre noire pour le texte */

}

nav {
    position: fixed; /* Rend la barre de navigation fixe */
    top: 0; /* Colle la barre de navigation en haut de la page */
    left: 0; /* Colle la barre de navigation à gauche */
    width: 100%; /* Prend toute la largeur */
    background-color: black; /* Couleur de fond noire pour la barre de navigation */
    z-index: 2000; /* Assure que la barre de navigation est au-dessus d'autres éléments */
    padding: 5px 0; /* Ajoute un espacement interne vertical */
}

nav ul {
    list-style: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
}

nav ul li {
    display: inline; /* Affiche les éléments en ligne */
    margin: 0 15px; /* Espacement horizontal entre les éléments */
}

nav a {
    color: #fff; /* Couleur des liens en blanc */
    text-decoration: none; /* Supprime le soulignement des liens */
    font-weight: bold; /* Met le texte en gras */
}

nav a:hover {
    color: rgb(255, 0, 0); /* Couleur au survol des liens */
}
.logo {
    height: 40px; /* Ajuster la hauteur du logo */
    margin-right: 15px; /* Espacement à droite du logo */
}

/*----------------------------------------------------------------------------------------------------------------------
       Main
/*----------------------------------------------------------------------------------------------------------------------*/
.contact {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px; /* Utilise la même marge que tes autres sections */
    border: 2px solid rgba(255, 0, 0, 0.5); /* Harmonise la bordure avec les autres sections */
    width: 100%; /* Assure une largeur cohérente */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact:hover {
    transform: scale(1.02);
    background-color: rgba(255, 0, 0, 0.3);
}

/*----------------------------------------------------------------------------------------------------------------------
        Footer
/*----------------------------------------------------------------------------------------------------------------------*/
footer {
    text-align: center; /* Centre le texte du pied de page */
    padding: 10px; /* Espacement autour du pied de page */
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent pour le footer */
    position: relative; /* Permet d'utiliser un positionnement absolu pour le contenu */
    bottom: 0; /* Place le footer en bas */
    width: 100%; /* Prend toute la largeur */
}